@import url(reset.css);

@import url("https://fonts.googleapis.com/css?family=Poppins:300,700&display:swap");
main{
	font-family: "Poppins", sans-serif;
	max-width: 1440px;
	margin: 0 auto;
}
.block-title{
	font-size: 25px;
	font-weight: 700;
	line-height: 40px;
	max-width: 400px;
	margin-top: 15px;
	margin-bottom: 40px;
	color: #212529
}
.block-2-title{
	font-size: 25px;
	font-weight: 700;
	line-height: 40px;
	max-width: 605px;
	margin-bottom: 40px;
	color: #212529;
}
.block, .block-2, .block-3{
	font-weight : 300;
font-size : 14px;
line-height : 25px;
max-width : 816px;
margin : 0 auto;
color : #6c757d;
}
.block-3{
	padding-bottom: 80px;
}
.block p {
	margin-bottom : 20px;
	}
.image{
	text-align: center;
	margin: 80px 0;
	max-width: 100%;
}
.image {
display : block;
}
.image-2, .image-3 {
display : inline-block;
}
.image2 {
text-align : center;
}
.image, .image2 {
font-size : 0;
margin : 80px auto;
}
.image-2 {
margin-right : 30px;
}
